header,body,footer, button { /* Police dans toute la page */
    font-family: "Borel"; /*Police dans toute la page*/
}

header { /*ENTETE DE LA PAGE*/
    font-family: "Borel"; /*Police dans tout le header*/
    font-weight: 400; /*Epaisseur de texte*/
    font-style: normal; /*Style d'écriture*/
    font-size: 50px; /*Taille de la police*/
    background-color: aquamarine; /*Couleur de fond du header*/
    border-radius: 15px; /*Arrondi des coins du background*/
    text-align: center; /*Alignement horizontal du texte*/
    padding: 20px 0 0 0; /*espace entre le texte et le bord du background*/
    margin-bottom: 10px; /*espace autour de la bordure du bas*/
}

@media (max-width:480px) {
    header {
        font-size: 24px;
        padding:15px;
    }
}

body { /*CORPS DE LA PAGE*/
    background-color: antiquewhite; /*Couleur de fond de la page*/
}


h3 { /*Sous-titre de la page*/
    margin: 15px; /*marges de 20px de tous les côtés*/
}

@media (max-width:480px) {
    h3 {
        font-size: 18px;
        margin:5px;
    }
}

.TextePresentation {
    margin: 15px;
}

table {
    flex-direction: row;
    flex-wrap: wrap;
    outline: 3px solid black;
    border-radius: 10px;
    margin: 15px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 10px 10px 5px rgba(0,0,0,0.6);
    background-color: darkcyan;
    border-collapse: separate;
    border-spacing: 10px;
}

tr {
    flex-direction: row; 
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

th, td {
    width:25%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

th {
    font-size: 25px;
    font-style: italic;
    background-color: aquamarine;
    border: 3px solid black;
    padding: 10px;
}

.case, td {
    background-color: whitesmoke;
    padding: 10px;
}

/* RESPONSIVE TABLETTE */
@media (max-width: 768px) {
    table {
        display: flex;
        flex-direction: column;
    }
    
    tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
    }
    
    th, td {
        width: calc(50% - 5px);
        flex: 0 0 calc(50% - 5px);
    }
    
    tr:first-child {
        margin-bottom: 10px;
    }

    
}

/* RESPONSIVE MOBILE */
@media (max-width: 480px) {
    th, td {
        width: 100%;
        flex: 0 0 100%;
    }

    .Ecole, .Maison, .Projets {
        display: none;
    }

    .Exemples, .Ligne1, .Ligne2 {
        display: none;
    }

}

.case:hover{ /*Effet au survol des cellules des autres lignes*/
    background-color: lightgrey; /*couleur de fond au survol*/
}

button { /*bouton*/
    margin: 15px; /*marge en haut*/
    padding: 15px; /*espace entre le texte et le bord du bouton*/
    background-color: aquamarine; /*couleur de fond du bouton*/
    border-radius: 10px; /*arrondissement des coins du bouton*/
    font-size: 20px; /*taille de la police*/
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.9); /* Ombre */
    cursor: pointer;
}

@media (max-width:769px) {
    button {
        text-decoration: none;
        color: black;
    }
}

@media (max-width:480px) {
    button {
        font-size: 18px;
        text-decoration: none;
        color: black;
    }
}


button:hover{ /*Effet au survol du bouton*/
    background-color: mediumaquamarine; /*couleur de fond au survol*/
    transform: rotate(5deg); /* Rotation */
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.9); /* Ombre */
}

div { /*Conteneur du bouton*/
    text-align: center; /*Alignement horizontal du bouton*/
}
.checkbox { /*case à cocher*/
    width: 20px; /*largeur de la case*/
    height: 20px; /*hauteur de la case*/
    margin-right: 5px; /*espace entre la case et le texte*/;
    vertical-align: middle; /*aligne verticalement la checkbox*/
    appearance: none; /*supprime le style par défaut*/
    border: 2px solid black; /*bordure de la case*/
    border-radius: 5px;
}

.checkbox:hover { /*Effet au survol de la case à cocher*/
    transform: scale(1.2); /*agrandissement*/
    cursor: pointer; /*curseur en forme de main*/
}

.checkbox:checked { /*personnalisation de la coche*/
    background-color: aquamarine;
}
